
  <!-- about section -->

  <section class="about_section layout_padding mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="img-box">
            <img src="assets/images/about-img.png" alt="" />
          </div>
        </div>
        <div class="col-md-5">
          <div class="detail-box">
            <div class="custom_heading-container">
              <h2>
               A propos La platforme
              </h2>
            </div>

            <p>
              La plateforme de recrutement est conçue pour simplifier et optimiser le processus de recrutement pour les entreprises et les candidats
              Grâce à notre plateforme, Direction Whitecape peut publier les offres d'emploi, évaluer les compétences des candidats et gérer le processus de recrutement de manière efficace.
               De même, les candidats peuvent découvrir des opportunités d'emploi qui correspondent à leurs compétences et aspirations professionnelles.
            </p>
           
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
