<!-- portfolio section -->
<section class="portfolio_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Our Portfolio
        </h2>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-sm-6">
              <div class="box b-1">
                <img src="assets/images/p-1.png" alt="" />
                <h4>
                  Logo Design
                </h4>
              </div>
              <div class="box b-2">
                <img src="assets/images/p-2.png" alt="" />
                <h4>
                  Coding
                </h4>
              </div>
            </div>
            
            <div class="col-sm-6">
              <div class="box b-3">
                <img src="assets/images/1.png" alt="" />
              
              </div>
              <div class="box b-4">
                <img src="assets/images/odoo.png" alt="" />
                
              </div>
            </div>
            
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-sm-6">
              <div class="box b-4">
                <img src="assets/images/2.PNG" alt="" />
                
              </div>
              
              <div class="box b-5">
                <img src="assets/images/3.PNG" alt="" />
               
               
              </div>
            </div>
          
            <div class="col-sm-6">
              <div class="box b-6 ">
                <img src="assets/images/4.PNG" alt="" />
                
              </div>
              <br>
              <br>
              <div class="box b-6">
                <img src="assets/images/5.png" alt="" />
                
              </div>
              
         
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end portfolio section -->
