<!-- skill section -->

<section class="skill_section layout_padding2">



    
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Nos Services
        </h2>
      </div>
      <div class="skill_padding">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="box">
              <div class="circle" id="circles-1"></div>
              <h6>
                Gestion de projet
                <br>
                Developement"
              </h6>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="box">
              <div class="circle" id="circles-2"></div>
              <h6>
               Conception,Integration CMS
              </h6>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="box">
              <div class="circle" id="circles-3"></div>
              <h6>
                Intégration ERP
              </h6>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
